/* Reset default margin dan padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #001f3f, #003366); /* Gradien background */
    color: #ffffff; /* Mengatur warna teks menjadi putih */
}

header {
    background-color: rgba(0, 64, 128, 0.9); /* Transparan untuk efek overlay */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Space between logo and title */
    align-items: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

header img {
    max-width: 100px; /* Set max width for logos */
}

.content { /* Mengubah nama kelas dari container ke content */
    padding: 20px;
}

.music-section {
    margin-bottom: 20px;
    border: 1px solid #ffffff; /* Garis batas putih */
    border-radius: 8px; /* Sudut melengkung */
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1); /* Latar belakang transparan */
}

.music-section img {
    max-width: 100%; /* Responsif */
    border-radius: 8px; /* Sudut melengkung untuk gambar */
}

.music-text {
    margin-top: 10px;
}

h1, h2 {
    color: #ffffff; /* Mengatur warna teks untuk h1 dan h2 menjadi putih */
    text-align: center;
    padding: 20px;
    margin-right: 44%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 64, 128, 0.9);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

a {
    color: #ffffff; /* Mengatur warna tautan menjadi putih */
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
}

a:hover {
    text-decoration: underline; /* Garis bawah saat hover */
}

p {
    text-align: justify;
}

a {
    line-height: 1.6;
    margin: 10px 0;
    color: white;
}